################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bannerlord Modding TOols/v16/Server/sqlite3
